/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import { HotschedulesToast } from "@fern-api/toast";
import urlJoin from "url-join";
import * as serializers from "../../../../../../serialization";
import * as errors from "../../../../../../errors";

export declare namespace SalesCategories {
    interface Options {
        environment?: environments.HotschedulesToastEnvironment | string;
        token?: core.Supplier<core.BearerToken | undefined>;
    }
}

export class SalesCategories {
    constructor(private readonly options: SalesCategories.Options) {}

    /**
     * Returns a `SalesCategory` object
     * containing information about a type of menu item used to
     * analyze purchases at a restaurant. For example, food and
     * alcohol might be sales categories for a restaurant.
     *
     */
    public async get(
        guid: string,
        request: HotschedulesToast.config.MenuItemSalesCategoryRequest
    ): Promise<HotschedulesToast.config.SalesCategory> {
        const { toastRestaurantExternalId } = request;
        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.HotschedulesToastEnvironment.Production,
                `/salesCategories/${guid}`
            ),
            method: "GET",
            headers: {
                "Toast-Restaurant-External-ID": toastRestaurantExternalId,
                Authorization: core.BearerToken.toAuthorizationHeader(await core.Supplier.get(this.options.token)),
            },
        });
        if (_response.ok) {
            return await serializers.config.SalesCategory.parseOrThrow(
                _response.body as serializers.config.SalesCategory.Raw,
                { allowUnknownKeys: true }
            );
        }

        if (_response.error.reason === "status-code") {
            throw new errors.HotschedulesToastError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.HotschedulesToastError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.HotschedulesToastTimeoutError();
            case "unknown":
                throw new errors.HotschedulesToastError({
                    message: _response.error.errorMessage,
                });
        }
    }

    /**
     * Returns an array of `SalesCategory` objects
     * containing information about the types of menu item used to
     * analyze purchases at a restaurant. For example, food and
     * alcohol might be sales categories for a restaurant. If a
     * `lastModified` date is specified, returns all objects that were
     * created or modified after that date.
     *
     */
    public async getAll(
        request: HotschedulesToast.config.MenuItemSalesCategoriesRequest
    ): Promise<HotschedulesToast.config.SalesCategory[]> {
        const { pageToken, pageSize, page, lastModified, toastRestaurantExternalId } = request;
        const _queryParams = new URLSearchParams();
        if (pageToken != null) {
            _queryParams.append("pageToken", pageToken);
        }

        if (pageSize != null) {
            _queryParams.append("pageSize", pageSize.toString());
        }

        if (page != null) {
            _queryParams.append("page", page.toString());
        }

        if (lastModified != null) {
            _queryParams.append("lastModified", lastModified);
        }

        const _response = await core.fetcher({
            url: urlJoin(
                this.options.environment ?? environments.HotschedulesToastEnvironment.Production,
                "/salesCategories"
            ),
            method: "GET",
            headers: {
                "Toast-Restaurant-External-ID": toastRestaurantExternalId,
                Authorization: core.BearerToken.toAuthorizationHeader(await core.Supplier.get(this.options.token)),
            },
            queryParameters: _queryParams,
        });
        if (_response.ok) {
            return await serializers.config.salesCategories.getAll.Response.parseOrThrow(
                _response.body as serializers.config.salesCategories.getAll.Response.Raw,
                { allowUnknownKeys: true }
            );
        }

        if (_response.error.reason === "status-code") {
            throw new errors.HotschedulesToastError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.HotschedulesToastError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                });
            case "timeout":
                throw new errors.HotschedulesToastTimeoutError();
            case "unknown":
                throw new errors.HotschedulesToastError({
                    message: _response.error.errorMessage,
                });
        }
    }
}
